body {
    font-family: "Times New Roman", serif;
    background-color: #4B0000;/*dark maroon*/
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #800000;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 30px;
}

h1, h2 {
    text-align: center;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.package-option {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}



timer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
}





